.titlecard {
  display: flex;
  margin-bottom: 30px;
  position: relative;
}
.titlecard-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: top;
  background-image: linear-gradient(to bottom, white, black);
}
.details-of-tt {
  position: absolute;
  margin-left: 30px;
}
.title-logo {
  width: 400px;
  height: 300px;
  margin-left: -25px;
}
.title-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.details {
  width: 500px;
  font-size: 25px;
}
.buttons {
  margin-top: 30px;
  display: flex;
  align-items: center;
}
.play {
  padding: 7px 5px 7px 5px;
  width: 80px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 3px;
  text-align: center;
  transition: all 0.15s;
}
.more-info {
  padding: 7px 5px 7px 5px;
  width: 80px;
  margin-left: 15px;
  font-weight: bolder;
  color: white;
  background-color: rgba(255, 255, 255, 0.251);
  backdrop-filter: blur(2px);
  border: none;
  border-radius: 3px;
  transition: all 0.15s;
}

/*animations and pseudo classes*/
.play:hover {
  color: white;
  background-color: #e50914;
  cursor: pointer;
  transform: scale(1.2);
}
.more-info:hover {
  background-color: rgba(255, 255, 255, 0.361);
  backdrop-filter: blur(2px);
  cursor: pointer;
  transform: scale(1.2);
}

.titlecard::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 42%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 0.1) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
}
